body {
    background-image: url(images/logo.jpg);
    background-repeat: repeat;
    background-size: 100vw auto;
    z-index: -1;
}

#king-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(77, 148, 255, 0.2);
}

.nav-linx {
    background-color: hsl(336, 100%, 70%);
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 900;
    font-family: serif;
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
}

.nav-linx {
    color: white;
    font-family: sans-serif;
}

#social-media {
    margin-top: 50px;
    margin-left: 25px;
}

#main-section {
    background-color: rgba(77, 148, 255, 0.7);
    font-family: serif, sans-serif, cursive;
    color: black;
}

#card-head {
    font-weight: 900;
}

#card-sub {
    font-weight: 500;
}

.btn-danger {
    font-weight: 600;
}

#home-container {
    background-color: rgba(77, 148, 255, 0.6);
    border-radius: 7px;
    margin-top: 5px;
}

#home-head, #about-us-head {
    margin-top: 10px;
}

.col-xs-3 {
    margin-left: 60px;
}

@media (min-width: 700px) {
    #social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .social-item {
        margin-left: 200px;
    }
    .s-item {
        margin-left: -25px;
    }
}
@media (min-width: 599px) {
    #ham-menu, #main-header2 {
        display: none;
    }
}

@media (max-width: 598px) {
    #home-head2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-decoration: none;
        list-style-type: none;
    }
    .nav2 {
        color: white;
        font-weight: 900;
        background-color: black;
        padding: 10px;
        border-radius: 12px;

    }
    .nav2:hover {
        color: black;
        font-weight: 900;
        background-color: white;
        padding: 10px;
        border-radius: 12px;

    }
    .gal {
        margin-left: 25px;
    }
    #social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .social-item {
        margin-left: 50px;
    }
    .s-item {
        margin-left: -25px;
    }
    #main-header1, #about-header-gal, #about-header {
        display: none;
    }

    #foto-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #ham-menu {
        padding-top: 10px;
        margin-left: 10px;
    }
    
    
    #king-container {
        margin-top: -6px;
       /* margin-left: 8px; */
    }   
}

i {
    font-size: 50px;
    color: hsl(0, 100%, 70%);
    margin-bottom: 30px;
}

i:hover {
    color: blue;
}

.linx:hover {
    color: white;
    padding: 10px;
}

#main-body {
    background-color: rgba(194, 194, 214, 0.8);
}

#about-header {
    background-color: rgba(77, 148, 255, 0.6);
    border-radius: 7px;
    margin-top: 10px;
}

.heads {
    font-weight: 700;
}

.info {
    background-color: rgba(255, 0, 102, 0.7);
    padding: 15px;
    border-radius: 7px;
}

#mission-statement {
    margin-top: 50px;
    text-align: center;
    background-color: rgba(77, 148, 255, 0.7);
    border-radius: 8px;
}

#info-sect {
    margin-top: 50px;
}

#content-title {
    text-decoration: underline;
    font-family: serif, sans-serif, cursive;
    font-size: 55px;
    font-weight: 700;
}

#mission-child {
    color: hsl(12, 100%, 35%);
    font-weight: 800;
    font-style: serif, sans-serif, cursive;
    font-size: 25px;
}

@media screen and (max-width: 700px) {
    #back-history, #exec-summary {
        margin-top: 10px;
        text-align: justify;
        padding-left: 15px;
        padding-right: 25px;
    }
    #main-body {
        padding-left: 10px;
        padding-right: 5px;
    }
}

.parafo {
    color: white;
    font-weight: 700;
}

.gal-foto {
    margin-top: 50px;
}

#foto-display {
    background-color: rgba(0, 0, 0, 0.8);
    height: 800px;
}

#nav-barr {
    margin-top: 10px;
}

#about-header-gal {
    background-color: rgba(77, 148, 255, 0.3);
}